{% extends 'base.html.twig' %}



{% block body %}
<div class="container">
    <h1>Site e-commerce</h1>
    <p>Bienvenue dans notre boutique</p>
</div>
<div class="col-12">
{% for category in categories %}

<div class="col-12">
   {{ category.nom }}
</div>
{% endfor %}
</div>
{% endblock %}
